In [7]:
from datetime import datetime

In [8]:
#to illustrate the order of arguments
my_year=2017
my_month=1
my_day=2
my_hour=13
my_minute=30
my_second=15

In [9]:
#January 2nd,2017
my_date = datetime(my_year,my_month,my_day)

In [10]:
#Defaults to 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [11]:
#january 2nd, 2017 at 13:30:15
my_date_time=datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [12]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [13]:
my_date.day

2

In [14]:
my_date_time.hour

13

## Numpy Datetime Arrays

In [ ]:
We mention that numpy handdles dates more efficiently than Python

In [15]:
import numpy as np

In [19]:
#CREATE AN ARRAY FROM THREE DATES
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [ ]:
#Note: We see the dytype listed as'datetime64[D].

In [17]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [18]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

## Numpy Date Range

Just as np.arange(start,stop,step)can be used to produced an array of evenly-spaced integer, we can pass a dtype argument to obtain an array of dates.Remember that the step date is exclusive.

In [21]:
#AN ARRAY OF DATES FROM 6/1/18 TO 6/22/18 SPACED ONE WEEK APART
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

by omoting the step value we can obtain every value based on the precision

In [22]:
#AN ARRAY OF DATES FOR EVERY YEAR FROM 1968 TO 1975
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[Y]')

array([], dtype='datetime64[Y]')

## Pandas Datetime Index

We'll usually deal with time series as a datetime index when working with pandas dataframes.Foetunately pandas has lots of functiona and methods to work with time series.

In [23]:
import pandas as pd

The simplest way to build a Datetimeindex is with the pd.date_range() method:

In [26]:
#THE WEEK OF JULY 8TH,2018
idx = pd.date_range('7/8/2018',periods=7,freq='D')
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

Anather way is to convert incoming test with the pd.to_datetime() method:

In [31]:
idx = pd.to_datetime(['Jan 01, 2018','1/2/18','03-Jan-2018',None])
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

A third way to pass a list or an array of datetime objects into the pd.DatetimeIndex() method:

In [33]:
#Create a numpy datetime array
some_dates=np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[D]')
some_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [34]:
#Convert to an index
idx=pd.DatetimeIndex(some_dates)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

Notic that even though the dated come into pandas with a day-level precision,pandas assign a nonosecond-level precesion with the

## Pandas Datetime Analysis

In [35]:
#Create some random data
data=np.random.randn(3,2)
cols=['A','B']
print(data)

[[-0.24530199 -0.59837702]
 [ 0.19074496  0.66502339]
 [-0.52870369 -1.04167517]]

In [37]:
#Create a DataFrame with our random data,our date index,and our column 
df=pd.DataFrame(data,idx,cols)
df

                   A         B
2016-03-15 -0.245302 -0.598377
2017-05-24  0.190745  0.665023
2018-08-09 -0.528704 -1.041675

Now we can perform a typical analysis of our DataFrame

In [39]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [40]:
#Latest Date Value
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [42]:
#Earliest Date Index Location
df.index.argmin()

0

In [43]:
#Earliest Date Value
df.index.min()

Timestamp('2016-03-15 00:00:00')

In [41]:
#Latest Date Index Location
df.index.argmax()

2