In [1]:
print("hello world")

hello world

In [1]:
l=[1,12.345,'sudh',True,5+7j,45,345.876]
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876]

In [2]:
l[::-1]

[345.876, 45, (5+7j), True, 'sudh', 12.345, 1]

In [23]:
s='pwdskills'

In [24]:
s

'pwdskills'

In [5]:
l+s#it will give the error as 2 diiferent datatypes cannot be concatinated

TypeError: can only concatenate list (not "str") to list

In [7]:
"""as there is "list()" function in python throgh which we can convert the the given
string into the list datatype.but it will separate/breakout all the alphabets in that word
and treat each of them as a individual element."""
list(s)#converting the string datatype into the list datatype

['p', 'w', 'd', 's', 'k', 'i', 'l', 'l', 's']

In [8]:
list(s)+l

['p',
 'w',
 'd',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 12.345,
 'sudh',
 True,
 (5+7j),
 45,
 345.876]

In [29]:
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876]

In [10]:
l[2][:2]

'su'

In [11]:
l[3][-1:-3]

TypeError: 'bool' object is not subscriptable

In [12]:
str(l[3])

'True'

In [22]:
str(l[3])[:2:1]

'Tr'

In [30]:
l+5

TypeError: can only concatenate list (not "int") to list

In [28]:
l1=[3,4,5]

In [32]:
l+l1#list is being concatinated with the list only not different datatype

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 3, 4, 5]

In [33]:
l1*3#the list will be displayed 3 times in one list ie the values will be repeated 3 times

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [37]:
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876]

In [38]:
len(l)

7

In [35]:
l=[1,12.345,'sudh',True,5+7j,45,345.876]
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876]

In [19]:
l.append(5)#we have appended the element 5 from backside of the list

In [20]:
l#now you can be able to see the changes in the original list ,element 5 is got added

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 5]

In [2]:
l.append('name')
"""append() can take one argument only at a time.NO multiple elements are 
allowed in the paraments or the arguments.instead we can declare another list and mention 
the multiple elements in that list and pass that list in the append ().so that list1 will
get appended in list at th end"""

'append() can take one argument only at a time.NO multiple elements are \nallowed in the paraments or the arguments.instead we can declare another list and mention \nthe multiple elements in that list and pass that list in the append ().so that list1 will\nget appended in list at th end'

In [3]:
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 'name']

In [25]:
l.append(s)

In [26]:
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 5, 'pwdskills']

In [33]:
l1=[3,4,5]
l1

[3, 4, 5]

In [6]:
l+l1

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 'name', 3, 4, 5]

In [15]:
l.append(l1)#here the list as it is will be included not only the elemets but also the list

In [16]:
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 5, [3, 4, 5]]

In [17]:
l[-1][1]#to extract the 2nd element of the list inside the list...so,1st choose the list
        #then the position of the list inside the list thwn which element to be extracted

4

In [13]:
l=[1,12.345,'sudh',True,5+7j,45,345.876]
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876]

In [14]:
#to append the element at the last we will use the append ()
l.append(5)
l

[1, 12.345, 'sudh', True, (5+7j), 45, 345.876, 5]

In [21]:
#extend()
l.extendI(4)
#it will give an error 
#bcoz integer cannot be broken into individual variable

AttributeError: 'list' object has no attribute 'extendI'

In [22]:
l.extend("sudh")
#extend():
"""extend is use to break the iterables and then append them to the list..
for eg.,in this eg we can see that sudh is added at the end of the list by breaking 
them as an individual letters like "s,u,d,h" so here integers cannot be added as it
cannot be broken into iterables or individuals,so only string type of data are 
allowed."""

'extend is use to break the iterables and then append them to the list..\nfor eg.,in this eg we can see that sudh is added at the end of the list by breaking \nthem as an individual letters like "s,u,d,h" so here integers cannot be added as it\ncannot be broken into iterables or individuals,so only string type of data are \nallowed.'

In [23]:
l

[1,
 12.345,
 'sudh',
 True,
 (5+7j),
 45,
 345.876,
 5,
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h']

In [24]:
l.extend([3,4,5])
l
#here when we add the list1 into list then it breaks the elements then add to the list

[1,
 12.345,
 'sudh',
 True,
 (5+7j),
 45,
 345.876,
 5,
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5]

In [55]:
l.extend(l1)
l
#here when we add the list1 into list then it breaks the elements then add to the list

[1,
 12.345,
 'sudh',
 True,
 (5+7j),
 45,
 345.876,
 5,
 [3, 'sudh', 'sudh', 4, 5],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5,
 3,
 4,
 5,
 3,
 4,
 5,
 3,
 4,
 5,
 3]

In [34]:
l1

[3, 4, 5]

In [36]:
#insert()
l1.insert(1,"sudh")
l1
"""insert() is used to insert the elements wherever we want in the list.
it accepts 2 parameters strictly i.e.(1st argument is location or te position at 
which we want to insert the elements,2nd parameter is the elements or list which we 
want to insert"""

'insert() is used to insert the elements wherever we want in the list.\nit accepts 2 parameters strictly i.e.(1st argument is location or te position at \nwhich we want to insert the elements,2nd parameter is the elements or list which we \nwant to insert'

In [45]:
l1.insert(-1,45)
l1
#o/p:[3, 'sudh', 'sudh', 4, 45, 5]
"""here the 45 will be inserted as the -1 position ie in place of 5 and that 
element 5 will be pushed front...ie after the element 45 it will appear as 5."""

'here the 45 will be inserted as the -1 position ie in place of 5 and that \nelement 5 will be pushed front...ie after the element 45 it will appear as 5.'

In [46]:
l1

[3, 4, 45, 45, 5]

In [56]:
#pop():
l1.pop()
l1
"""here pop() is used to delete the elements from the list.
it accepts 1 parameter for location.
by default it deletes the last element if position is not mentioned.
it doesnt delete the element if we pass the integer in pop().it will delete the 
element that is present at that position
if that position element is not available in the list then it will give an ERROR"""

'here pop() is used to delete the elements from the list.\nit accepts 1 parameter for location.\nby default it deletes the last element if position is not mentioned.\nit doesnt delete the element if we pass the integer in pop().it will delete the \nelement that is present at that position\nif that position element is not available in the list then it will give an ERROR'

In [54]:
l1

[3]

In [52]:
l1.pop(3)
l1

IndexError: pop index out of range

In [71]:

l1=[3,4,5]
l1

[3, 4, 5]

In [72]:
#remove():
l1.remove(4)
l1
#at a time,only 1 element could be removed.
#it removes the first occurrence of value
#list.remove() takes exactly one argument ie it takes the element as the parameter.
#here as the parameter location is not passed.

[3, 5]

In [73]:
l1=[45,'sudh',[2,3,4],4]
l1

[45, 'sudh', [2, 3, 4], 4]

In [74]:
"""if list inside list is given and we want to delete the element 3 from the inner 
list using remove() then we will do indexing like from l1 at postion 2 remove the 
element 3 from the inner list.so,l1[2].remove(3)"""
l1[2].remove(3)
l1

[45, 'sudh', [2, 4], 4]

In [76]:
#to remove the element dh from the list using remove()
l1[1].remove(dh)
l1

AttributeError: 'str' object has no attribute 'remove'

In [77]:
l1.append(4)

In [78]:
l1

[45, 'sudh', [2, 4], 4, 4]

In [80]:
l1.remove(4)
l1
#here from the dupicates ony the 1st occurred element will be deleted

[45, 'sudh', [2, 4]]

In [92]:
print(l1[::-1])
print(l1)
#it will reverse the list temporarily.it wont affect/change/reverse the original list

[45, 'sudh', [2, 4]]
[[2, 4], 'sudh', 45]

In [89]:
l1.reverse()
l1
#by using reverse() we can makel3 changes into original list.

[[2, 4], 'sudh', 45]

In [95]:
l1

[[2, 4], 'sudh', 45]

In [105]:
#sort():
"""sort() is used to sort the list in ascending order.mix list of integer and string 
cannot be sorted.
list can be sorted if contains only string or only integer ie same datatype"""
l2=[2,6,3,77,89,44,33,22,12,100]
l2.sort()
l2

[2, 3, 6, 12, 22, 33, 44, 77, 89, 100]

l1.sort()
l1

In [103]:
l1.sort()#as integer and string were were there so it cant be sorted.it gives error

TypeError: '<' not supported between instances of 'str' and 'list'

In [3]:
l3=["acs","jyujf","brgs","yreg","casf"]
l3.sort()
l3

['acs', 'brgs', 'casf', 'jyujf', 'yreg']

In [5]:
#descending ordered list
l3.sort(reverse=True)
l3

['yreg', 'jyujf', 'casf', 'brgs', 'acs']

In [27]:
l4=['sudh','pwskills','kumar','datascience']
l4

['sudh', 'pwskills', 'kumar', 'datascience']

In [10]:
#index():
"""index() returns the location or position at which it is present.
if repeated elements are there then it will return the first occurred elements 
position ie the idex of that element.
"""
l4.index('sudh')

0

In [14]:
#count():
#it will count the total number of occurence of the particular element in the list.
l4.count('sudh')
#sudh element has occurred 1 time in the list.

1

In [4]:
s='sudh'#here,if we want to replace the letter "s" with "a"
s[0]='a'#it will give error so as "  'str' object does not support item assignment "
#this is because strings are immutable.

TypeError: 'str' object does not support item assignment

In [5]:
l5=[3,4,5,6]#here, replace the 3 with the number 30 then it wont give the error
l5[0]=30#this is because it is mutable(integer is mutable)
l5

[30, 4, 5, 6]

In [14]:
#so,for strings there is the function available ie replace() which will replace string
s='sudh'
s.replace('s','a')
#using this functions it will be only temporarily replace it.original string wont be 
#affected

'audh'

In [15]:
s

'sudh'

In [2]:
#tuples
"""defined in "()".IT  is a collection of variety of dattatype elements.
it is immutable"""
##declare tuple
t=(2,3,4,5,"sudh",45.56,False,45+457j,[3,4,5])
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 4, 5])

In [3]:
print(type(t))
print(len(t))
#<class 'tuple'>
#9

<class 'tuple'>
9

In [4]:
t[0]#access 1st element

2

In [5]:
t[-1]#access last eleemnt of the tuple

[3, 4, 5]

In [6]:
t[::-1]#reverse the tuple

([3, 4, 5], (45+457j), False, 45.56, 'sudh', 5, 4, 3, 2)

In [32]:
l4=['sudh','pwskills','kumar','datascience']
l4#list is mutable as l4[0] is changed

['sudh', 'pwskills', 'kumar', 'datascience']

In [34]:
l4[0]=23465
l4

[23465, 'pwskills', 'kumar', 'datascience']

####

In [7]:
t[0]='audh'
#tuples are immutable as the t[0] index is not changed

TypeError: 'tuple' object does not support item assignment

In [8]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 4, 5])

In [11]:
t.count(4)#it will count the number of occurance of the particular item

1

In [13]:
t.index(False)#you need to pass the item to be searched in the tuple.It will return index

6

In [14]:
t.index(4)

2

In [16]:
s1={}
type(s1)

dict

In [59]:
s2={2,3,4,5,6}
type(s2)

set

In [35]:
"""set"""
"""set is also the collection of unordered elements which takes only the unique values
#set never get the data arrange in an order
#as we were able to slice or remove or add the elements at the positions,in set it is 
it is not possible bcoz the elements are not in ordered form so we cannot get 
subscript element from the set"""
s3={123,456,456,"sudh",45+45j,34.465,[2,3,4]}
#set doesnot accept the list. It will give the error.bcoz list is mutuable.

TypeError: unhashable type: 'list'

In [60]:
s3={123,456,456,"sudh",45+45j,34.465,(2,3,4)}
#set accepts the immutabke data, but not the mutable data are allowed like list.
#it accepts tuple bcoz tuple is immutable
#set removes the duplicates.ie it gives the unique values.

In [26]:
s4={2,3,4,5,6,2,2,3,4,5,6,1,2,3,4,5,6,1,2,2,3}
s4

#so,if we will print the above set then it will return only the unique values.
#it will not return the repeated values.so set gives us the unique values.

{1, 2, 3, 4, 5, 6}

In [29]:
"""As python is CASE SENSITIVE LANGUAGE it considers the uppercase and lowercase words
as different words"""
s4={2,3,4,5,6,2,2,3,4,5,6,1,2,3,4,5,6,1,2,2,3,"Sudh","sudh"}
s4#so both the sudh will be considered as unique values

{1, 2, 3, 4, 5, 6, 'Sudh', 'sudh'}

In [34]:
"""#in python there is set() available.
so same elements are present in list and if we want only the unique elements then
by using the set() we can get all the unique values """
l6=[2,3,4,5,6,2,2,3,4,5,6,1,2,3,4,5,6,1,2,2,3,"Sudh","sudh"]
print(l6)#here we get the list as it is as list doesnt return the unique values.
print(set(l6))#if we use the set(),we get all the unique values,without repeatition.
print(l6)#but original list wont be affected if we do not update the list again
l6=set(l6)#if we update the list by filtering it be set() taking only unique items.
print(l6)#lets print the updated  list which we will get in the form of set{}
l6=list(set(l6))#here we will convert back into the list form
print(l6)

[2, 3, 4, 5, 6, 2, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 2, 3, 'Sudh', 'sudh']
{1, 2, 3, 4, 5, 6, 'Sudh', 'sudh'}
[2, 3, 4, 5, 6, 2, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 2, 3, 'Sudh', 'sudh']
{1, 2, 3, 4, 5, 6, 'Sudh', 'sudh'}
[1, 2, 3, 4, 5, 6, 'Sudh', 'sudh']

In [56]:
s5={234,45,23,12,567,45,2,789,234,"abc",456,342,23}
s5#elements are in unordered form.

{12, 2, 23, 234, 342, 45, 456, 567, 789, 'abc'}

In [45]:
s5[0]#TypeError: 'set' object is not subscriptable
"""as elements are in unorderd form so at we cannot extract pop ,remove,or add the elements
at the particular position
but yes we can add,pop,remove randomly at any position """

TypeError: 'set' object is not subscriptable

In [42]:
s5[::-1]#slicing can alsobe not peroformed

TypeError: 'set' object is not subscriptable

In [50]:
s5.add(4)
s5#if 4elemnet is not available in the set as it take only the unique value 
#then it will just add in the set 4 item at any of the position

{12, 2, 23, 342, 4, 45, 456, 567, 789, 'abc'}

In [57]:
s5.remove(2)
s5#it will remove the element 2

{12, 23, 234, 342, 45, 456, 567, 789, 'abc'}