In [8]:
d={}
type(d)
#if {} curly braces are empty then python will take it as the type dictionary

dict

In [9]:
d={1}
type(d)
#if {}-this curly brace has some linear elements then it will give us the type as set

set

In [10]:
d={'rollno':3}
type(d)
#{}-if curlybraces contain the key:value pair then pyhton gives its type as dictionary

dict

In [15]:
#dictionary:It contains the key-value pair
#similar like are english dictionary "word" : "its meaning"
d1={"key":"sudh"}
d1

{'key': 'sudh'}

In [16]:
#stor][ing multiple key:value pair
d2={"name":"vaishnavi","email":"abc@gmail.com" , "number" : 3344634}
d2

{'name': 'vaishnavi', 'email': 'abc@gmail.com', 'number': 3344634}

In [3]:
#keys as integer is valid 
d3={234:"sudh"}
print(d3)
#but special symbols are not valid it gives invalid syntax
"""d3={234:"sudh", @ada: "kumar"}
d3
#if we take the _abc then also it gives error due to invalid syntax
d3={234:"sudh" , _abc:"kumar"}
d3"""
#if we take _abc into "_abc" then it does not gives error bcoz it takes it as string
d3={234:"sudh" , "_abc" :"kumar"}
print(d3)
#if we take the key as boolean  value ie True/False then it is valid syntax
d3={234:"sudh" , "_abc" :"kumar",True:223425}
print(d3)
"""this shows us that all the types of data are allowed as a key but starting from 
special character is not allowed it gives  error"""

{234: 'sudh'}
{234: 'sudh', '_abc': 'kumar'}
{234: 'sudh', '_abc': 'kumar', True: 223425}

'this shows us that all the types of data are allowed as a key but starting from \nspecial character is not allowed it gives  error'

In [4]:
#to access the value we wont be able to use the same concept indexing but for dictionary
#there is another thing ie we will be accessing it with the hep of the name of the key
print(d3[234])
print(d3[True])
"""so there is no indexing if we do searching for index 1 then it gives us the result
of True key's value bcoz we all know that True =1 and False=0 so it will be the same
"""
print(d3[1])

sudh
223425
223425

In [8]:
"""in case of dictionary,all the keys should be unique otherwise if keys are having 
same names then it would result in overwriting ie it will just give last updated
value.
suppose in the below eg as key having "name" is repeated then it will not give the 
error it will just update the value of name key with the overwritten value ie 
"sudhanshu" 1st value of the name was sudh will not be considered"""

d4={'name':'sudh' , 'mail_id':"ss@gmail.com" , "name":"sudhanshu"}
d4['name']

'sudhanshu'

In [13]:
#list inside dictionary for multiple values storing
d5={"company":'pwskills','course':["web dev","data science","java with dsa system design"]}
d5

{'company': 'pwskills',
 'course': ['web dev', 'data science', 'java with dsa system design']}

In [14]:
d5['course']

['web dev', 'data science', 'java with dsa system design']

In [42]:
#dictionary can store the values in the form of list,tuple,set,also dictionary
#dictionary can store the values in the form of list(list inside dictionary)
#dictionary can store the values in the form of tuple(tuple inside dictionary)
#dictionary can store the values in the form of set(set inside dictionary)
#dictionary can store the values in the form of anaother dictionary(dictionary inside dictionary)

d6={"number":[2,34,24,54,76,78],"assignment":(1,2,3,4,5,6),"launch_date":{28,12,14},"class_time":{"web_dev":8,"data_science":8,"java with dsa with system design":7}}
d6

{'number': [2, 34, 24, 54, 76, 78],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'data_science': 8,
  'java with dsa with system design': 7}}

In [54]:
#if we want to extract "7" from it 
d6['class_time']['java with dsa with system design']

7

In [44]:
#to add new key:value pair
d6["mentor"]=["sudhanshu","krish","anurag"]
d6
#if we do not have the key name as mentor already in dictionary then it will add it
#if we already have the name mentor key in the dictionary then it will overwrite it

{'number': [2, 34, 24, 54, 76, 78],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'data_science': 8,
  'java with dsa with system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag']}

In [45]:
#to delete the key from the dictionary there is a keyword name "del"
del d6['number']
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'data_science': 8,
  'java with dsa with system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag']}

In [46]:
#to check whatever functions can be used on these variable or operations availabale
#press " d6." + "tab" u will be able to see all the functions we can use on it


#to access all the key's names
#use key()
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [47]:
#to extract only the keys all ,in the form of list 
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [48]:
#to extract all the values from the dictionary
#use values()
d6.values()

dict_values([(1, 2, 3, 4, 5, 6), {28, 12, 14}, {'web_dev': 8, 'data_science': 8, 'java with dsa with system design': 7}, ['sudhanshu', 'krish', 'anurag']])

In [49]:
#to extract only the values all,in the form of list 
list(d6.values())

[(1, 2, 3, 4, 5, 6),
 {12, 14, 28},
 {'web_dev': 8, 'data_science': 8, 'java with dsa with system design': 7},
 ['sudhanshu', 'krish', 'anurag']]

In [50]:
#to get the key:value pair ie both  from the dctionary
#use items()
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 5, 6)), ('launch_date', {28, 12, 14}), ('class_time', {'web_dev': 8, 'data_science': 8, 'java with dsa with system design': 7}), ('mentor', ['sudhanshu', 'krish', 'anurag'])])

In [51]:
#to extract all the key,value pair ,in the form of list 
list(d6.items())
#the output will have list having the elements n the form tuples

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8, 'data_science': 8, 'java with dsa with system design': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag'])]

In [52]:
#to pop the key from the dictionary
#as there is no concept of indexing in dictionary so in pop(),we will pass name of key
d6.pop('assignment')
d6
"""in case of list there we can keep the pop() as empty becasue we were having the 
1st and last element there.but not in case dictionary as there is no 1st and last 
element there and no indexing so will pass the name of the key which we want to pop"""

'in case of list there we can keep the pop() as empty becasue we were having the \n1st and last element there.but not in case dictionary as there is no 1st and last \nelement there and no indexing so will pass the name of the key which we want to pop'

In [53]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'data_science': 8,
  'java with dsa with system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag']}