In [2]:
l=[1,2,3,4,5]
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [4]:
l1=["sudh","kumar","krish","naik"]
for i in l1:
    print(i)

sudh
kumar
krish
naik

In [81]:
"""for with else: the for part will be completed successfully then only the else part 
will be printed otherwise else part will not be executed
"""
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

In [9]:
"""break: the for loop will get terminated if we use the break .upto the part ,
before the break whatever statements ill be there that will be executed if the break 
encountered then it exists the loop there istself and comes out of the loop"""
for i in l1:
    if i=="kumar":
        break
    print(i)

sudh

In [10]:
"""if for loop is executed with the else condition then and for is not executed 
completely as in the below code there we break if the condition has matched then we 
terminated the for loop so for loop has not executed completely so the else condition
will not be executed"""

for i in l1:
    if i=="kumar":
        break
    print(i)
else:
    print("execute this if for loo[ is able to complete itself")

sudh

In [17]:
#for loop with else condition using break
for i in l1:
    if i=="naik":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh
kumar
krish

In [15]:
#continue:
""" in the loop,if continue is used when the condition matches then it just skips 
that part and further it executed completely
when it encounters the continue then it skies the further statements and go to the 
for loop back and value is incremented ie the previous value is skiped and 
further code is being executed"""

for i in l1:
    if i=="kumar":
        continue
    print(i)

sudh
krish
naik

In [20]:
#for loop with else using break:
"""in case of for with else and continue ,continue is going to excute the whole code 
just it is going to skip the part where the condition has matched ,so there is no 
break in the for loop thats why the else condtion is also executed"""
for i in l1:
    if i=="kumar":
        continue
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

In [27]:
#range():by the indexing it generateds the results
"""range () is the generator function,it helps in generating the data,generating the 
range,so it going to generate the data upto the number 5 in the below case incliuding 
5"""
range(5)

range(0, 5)

In [23]:
list(range(5))#excluding 5 as it starts from 0 bydefault so it considers upto 4

[0, 1, 2, 3, 4]

In [24]:
list(range(0,5,1))
#start=0 ,end-1=5,jump =1

[0, 1, 2, 3, 4]

In [25]:
#data for even numbers
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [36]:
print(l1)
print(len(l1))
print(list(range(len(l1))))

['sudh', 'kumar', 'krish', 'naik']
4
[0, 1, 2, 3]

In [33]:
#to reverse the list using the for loop
#we will use the len() to start the for loop from the last element 
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
naik

In [34]:
print(len(l1))
print(list(range(len(l1),0,-1)))#start=-1/4 , end =0, jump=-1 ...in reverse order

4
[4, 3, 2, 1]

In [39]:
for i in range(len(l1)-1,0,-1):
    print(l1[i])

naik
krish
kumar

In [75]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])#to print the list elements in the reverse order

naik
krish
kumar
sudh

In [76]:
l2=[23,5,45,56,6,67,67,78,87,8998,9,9,8]
l2
#give the data only of even indexes
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
67
87
9
8

In [74]:
#give the sum of data 
l=[1,2,3,4,5,6,7]
print(l)
sum(l)#sum() returns sum of all the elements from the list

[1, 2, 3, 4, 5, 6, 7]

28

In [73]:
result=0#sum of all the elements using the for loop
for i in l:
    result+=i
print(result)

28

In [55]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [72]:
for i in (t):#to get the elements from the tuple using for loop
   print(i)

1
2
3
4
5

In [71]:
result=0#sum of all elements from the tuple t
for i in t:
    result+=i
print(result)

15

In [70]:
s={1,2,3,4,5,"sudh","pwskills"}#to get the elements from the set

In [61]:
for i in s:
    print(i)

1
2
3
4
5
sudh
pwskills

In [69]:
s1="pwskills"#to get all the elements from the string
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [65]:
d={"name":"sudh","class":"datascience",
"topic":["python","stats","ml","dl","cv","nlp","resume","interview"]}
d

{'name': 'sudh',
 'class': 'datascience',
 'topic': ['python', 'stats', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview']}

In [67]:
for i in d.keys():
    print(d[i]) #so here d will be the dictname and i is elements from d.keys

sudh
datascience
['python', 'stats', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview']

In [77]:
d.values()

dict_values(['sudh', 'datascience', ['python', 'stats', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview']])

In [79]:
for i in d.values():
    print(i)

sudh
datascience
['python', 'stats', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview']

In [80]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'datascience')
('topic', ['python', 'stats', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview'])