In [3]:
#functions:the given below are the inbuilt functions in python 
#this functions are also defined by someone previously...we are just using them 
#print fucntions:
print("this is my print")

this is my print

In [4]:
#len():
l=[1,2,3,4,66,6,7]
len(l)

7

In [5]:
type(l)

list

In [6]:
#we will develop  our own functions
#def-defination of the function na dthen its name,we need to define the functions
#we can also define the functions as empty by given pass in it1
def test():
    pass

In [7]:
def test():
    print("this is my very very first function")
    #here you have just created the function ...you need to call it to increase its reusability
test()

this is my very very first function

In [8]:
#string and nonetype cannot be concatinated ie print statement and a string cant concatinate
test()+"sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test1():
    return "this is my very first return"
    #by using return we will return as it is whatever we want to return
    #so it will return this string

In [10]:
test1()

'this is my very first return'

In [11]:
test1()+"sudh"#so now it can return the string+string concatinate

'this is my very first returnsudh'

In [12]:
def test3():
    return "sudh",23,345.56,[1,2,3,4]
    #so multiple datatypes can be returned using the return we can ALSO HOLD IT IN different different variables

In [13]:
test3()#so it will all the values from the return in tuples form

('sudh', 23, 345.56, [1, 2, 3, 4])

In [14]:
a,b,c,d=test3()
 #so multiple datatypes can be returned using the return we can ALSO HOLD IT IN different different variables

In [15]:
a

'sudh'

In [16]:
b

23

In [17]:
c

345.56

In [18]:
d

[1, 2, 3, 4]

In [19]:
def test4():
    a=5+6/7
    return a

In [20]:
test4()

5.857142857142857

In [21]:
def test5(a,b,c):#here we will pass the arguments and the take the values from user
    d=a+b/c
    return d

In [22]:
test5(5,2,8)#so while calling the functions we need to pass the arguments

5.25

In [23]:
def test6(a,b):
    return a+b
test6(4,5)

9

In [24]:
test6("sudh","kumar")#it will concatinate the list and give us the results

'sudhkumar'

In [25]:
test6([1,3,5,6],[6,7,8,56,87])#it will concatinate the list and give us the results

[1, 3, 5, 6, 6, 7, 8, 56, 87]

In [26]:
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)
l1

[1, 2, 3, 4, 66, 6, 7]

In [27]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [28]:
test7(l)

[1, 2, 3, 4, 66, 6, 7]

In [5]:
l=[1, 2, 3, 4,"sudh","kumar",[ 66, 6, 7]]
l

[1, 2, 3, 4, 'sudh', 'kumar', [66, 6, 7]]

In [6]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [7]:
test8(l)

[1, 2, 3, 4, 66, 6, 7]

In [8]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [66, 6, 7]]

In [9]:
def test9(a):
    """this is the function to extract the data or number from the list.this is docstring"""
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [13]:
test9()#here we need to pass the argument

TypeError: test9() missing 1 required positional argument: 'a'

In [14]:
def test10(a,b):
    return a+b

In [15]:
#to pass n number of parameters
#args
"""*here with args will allw us to pass mnay arguments ie whatever the user want to
pass the arguments user can pass for that *args to be used
here args is not the the keyword instead of it w can use anyotherword also but need
to give the * with it

we take here args just for our convention that args are the arguments"""
def test11(*args):
    return args

In [16]:
type(test11())

tuple

In [17]:
test11(1,2,3)

(1, 2, 3)

In [18]:
test11(1,2,3,4,"sudh","kumar",[1,2,3,4])

(1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4])

In [19]:
def test12(*sudh):
    return sudh

In [20]:
test12(1,23,"sdfs")

(1, 23, 'sdfs')

In [21]:
def test13(*args,a):
    return *args,a

In [22]:
test13(1,2,3,4)
#so in such cases it gives error as it gets confusion for which argument 
#we are passing the value

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [23]:
#so for above such cases we will separately define that variable and assign it value
test13(1,2,3,4,5,a=23)

(1, 2, 3, 4, 5, 23)

In [27]:
def test14(c,d,a=23,b=1):
    return a,b,c,d
test14(3,4)

(23, 1, 3, 4)

In [28]:
#we can also change that a and b values
test14(2,5,a=234)

(234, 1, 2, 5)

In [30]:
#**kwargs-keyvalues arguments
#if the user want multiple values in the form of keyvalue,so for that **kwargs is there
def test15(**kwargs):
    return kwargs

In [32]:
test15()#it returns us the dictionary

{}

In [33]:
type(test15())

dict

In [34]:
test15(a=[1,3,2,4],b="sudh",c=23.45)#n number of arguments can be passed here

{'a': [1, 3, 2, 4], 'b': 'sudh', 'c': 23.45}