In [19]:
#lambda function:
"""this are one line function

it is also called as anonmyous function because we have not defined the name of 
this function and we simply writes it operations by writing the inputs and then it 
return value

this is the function without name
"""
n=3
p=2

In [4]:
def test(n,p):
    return n**p

In [5]:
test(3,2)

9

In [6]:
lambda n,p:n**p#here lambda function is created

here this is the lambda function.                                                         

here we have initialized this function as lambda as in normal function we initialized it by the keyword def.                                                                 
then we gave the number of the inputs like here are inputs were n and p                   
then whatever our expression or whatever we want to return will be written after writing the colon                                                                            
here we have written :                                                                  
then  our reutrn value n**p   

now whatever it is given in the output that tells us that this function has become the lambda function.

but we have not stored it in any of the variable so we will store it in any of thr variable and then we will call that variable by passing the parameters whatever we want to give the values in it

In [7]:
a=lambda n,p:n**p
a(3,2)

9

here this a becomes the named entity
so whenever we wants to call this function we will call this a

In [12]:
#to create the function for addition using the lambda function
add=lambda a,b : a+b
add(4,5)

9

In [11]:
add(10,20)

30

In [14]:
#celsius_to_farhenite
c_to_f=lambda c:(9/5)*c+32
c_to_f(45)

113.0

In [16]:
#conditions with lambda function ie if else with lambda
#finding maximum number
finding_max=lambda x,y:x if x>y else y
finding_max(5,7)

7

In [18]:
s="pwskills"
#write lambda function that returns the string's length
len_string=lambda s:len(s)
len_string(s)

8