# map function :
        it will help in mapping the function
        #map():
            it will map the function with the iterator as the parameters ie map
            function takes two parameters the first parameter is the function and 2nd
            parameter as the iterables

 # reduce function:
         it will help to reduce the function
         it reduces all the entities and return us a single value like 
        summation of all the elements in the list
        for using the reduce function we need to import it from functiontools library
        from functools import reduce
        this function also takes 2 parameters 1st parameter is the function and 2nd
        parameter is iterable
# filter function
        it will help to filter the function
        so the operations like give me the even numbers or odd numbers or divisible   
        by 3 or divisible by 2/4/5 from the list that time we use this filter function
        this filter () takes 2 parameters 1 is the function and 2nd is the iterable

In [1]:
l=[2,3,4,5,6]

In [2]:
#perform operation on each element of the list 
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

test(l)

[4, 9, 16, 25, 36]

In [3]:
def sq(x):
    return x**2

In [4]:

#supose we have the above list and we have to square all the elements present in it
#so we will map the function of square with all the elements of the list.
#so basically map will map the function to the iterators
"""so by using the external function we have returned the square of all elements of 
the list"""
map(sq,l)

In [5]:
list(map(sq,l))
#so if we wrap up the function into the list we gets the result in the form of list

[4, 9, 16, 25, 36]

In [6]:
#so by using lambda function with the map function we can return the same output

"""we have used the same thing here also ie in map function 1st parameter is the operation
or function and 2nd parameter is the list that will be iterator""" 
list(map(lambda x:x**2,l))
#within one line we gets the same result instead of using the big defination of a function

[4, 9, 16, 25, 36]

In [7]:
#we have 2 list using which we want add the the 1st position of element from both the list
#similarly get the same list and return in another new list all those values of the result
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(map(lambda x,y:x+y ,l1,l2))

[7, 9, 11, 13, 15]

In [8]:
def add(x,y):
    return x+y

In [15]:
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [24]:
#make the given string into the uppercase
s="pwskills"
def uppercase(s):
   return s.upper()

In [25]:
uppercase(s)

'PWSKILLS'

In [23]:
list(map(lambda x:x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [9]:
#reduce function:it reduces all the entities and return us a single value like 
#summation of all the elements in the list
from functools import reduce
l=[1,2,3,4,5]

In [11]:

"""reduce(lambda x,y,:x+y , l) this will give error becoz at last z remains alone 
ie x and y will eb ther ebut z value will not be there to add in that so z is not
considered"""
reduce(lambda x,y,:x+y , l)

15

In [18]:

"""so whenever you are using rduce function note that more than 2 parameters 
can not be inserted in it
#this gives error,there should be atleast 1 element present in that empty list 
#so that it will not give error """
reduce(lambda x,y,:x+y , [])

TypeError: reduce() of empty iterable with no initial value

In [19]:
reduce(lambda x,y,:x+y ,[1])
#see here atleast one value should be there in the list

1

In [20]:
#multiply all the elements in the list and give one value
reduce(lambda x,y:x*y , l)

120

In [22]:
#to get one maximum number from the list
reduce(lambda x,y:x if x>y else y ,l)

5

In [25]:
#filter function
l
#so the operations like give me the even numbers or odd numbers or divisible by 3 or 
#divisible by 2/4/5 from the list that time we use this filter function
#this filter () takes 2 parameters 1 is the function and 2nd is the iterable

[1, 2, 3, 4, 5]

In [28]:
#even numbers from the list
list(filter(lambda x:x%2==0,l))

[2, 4]

In [29]:
#odd numbers from the list
list(filter(lambda x:x%2!=0,l))

[1, 3, 5]

In [32]:
l1=[-3,4,5,6,7,8,-1,-5]
#return only the negative nuumbers from the list
list(filter(lambda x:x<0,l1))

[-3, -1, -5]

In [33]:
#to return all the positive numbers from the list
list(filter(lambda x:x>0,l1))

[4, 5, 6, 7, 8]

In [34]:
l2=["sudh","pwskills","kumar","bangalore","krish"]
#filter out the strings whose length is greater than 6

In [35]:
list(filter(lambda x:len(x)>=6 ,l2))

['pwskills', 'bangalore']

In [36]:
list(filter(lambda x:len(x)<=6 ,l2))
#filter out the strings from the list whose length is smaller than 6

['sudh', 'kumar', 'krish']